.card{
    border: 1px solid rgb(6, 255, 247);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    background-color: #eefdff;
    display: inline-block;
}

.card .card-img{
    width: 60%;
    height: auto;
    border-radius: 10%;
    margin: 10px auto;
    background-color: rgba(140, 241, 250, 0.212);
}

.card .card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(4, 95, 95);
}

.card .card-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}